ul.listview-splitbtn > li a:nth-child(1n+2) {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}
ul.listview-splitbtn > li a:nth-child(1n+1),
ul.listview-splitbtn > li a:nth-child(1n+2) {
    background: none;
}
ul.listview-splitbtn > li a.icon.comment-add {
    color: transparent;
    background: url('./comment_add_32.png') no-repeat scroll 50% 50%;
}
span.icon.home {
    padding-left: 20px;
    background: url('./home.png') no-repeat scroll 0 50%;
}
span.icon.gender {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url() no-repeat scroll 0 0;
}
span.icon.gender.male {
    background-image: url('./user.png');
}
span.icon.gender.female {
    background-image: url('./user-yellow-female.png');
}
ul.listview-splitbtn > li p {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}
