<div ng-controller="EditVisitCntl">
    <div id="wrapper">
        <div id="scroller">
            <form class="form-horizontal" ng-submit="[ srv.saveVisit(), $location.url('/notes') ]">

                <fieldset>
                    <div class="row row-textarea">
                        <label>{{'Note'|i18n}}</label>
                        <textarea ng-model="srv.curVisit.note" placeholder="{{'Note'|i18n}}" style="width: 92%; height: 30px;"></textarea>
                    </div>
                    <div class="row">
                        <label for="type">{{'Visit type'|i18n}}</label>
                        <select name=type"" ng-model="curVisit.type">
                            <option value="nh">{{'NH'|i18n}}</option>
                            <option value="normal">{{'Normal visit'|i18n}}</option>
                            <option value="ra">{{'Re-audition'|i18n}}</option>
                            <option value="not_interested">{{'Not interested'|i18n}}</option>
                            <option value="return_visit">{{'Return visit'|i18n}}</option>
                            <option value="foreign_language">{{'Foreign lang.'|i18n}}</option>
                        </select>
                    </div>
                </fieldset>
                <div class="row button-group">
                    <input type="submit" value="{{'Save'|i18n}}" />
                </div>
            </form>
        </div>
    </div>
    <div id="footer">
        <ul>
            <li><a href="#notes" class="icon pencil">Notes</a></li>
            <li><a href="#visits" class="icon stack">Visits</a></li>
            <li><a href="#edit-visit" class="icon add active">Add Visit</a></li>
        </ul>
    </div>
</div>
