<div ng-controller="EditTerritoryCntl">
    <div id="wrapper">
        <div id="scroller">
            <form>
                <fieldset>
                    <div class="row">
                        <label for="ident">{{'Ident'|i18n}}</label>
                        <input type="text" id="ident" ng-model="srv.curTerritory.ident" placeholder="{{'Ident'|i18n}}" />
                    </div>
                    <div class="row">
                        <label for="city">{{'City'|i18n}}</label>
                        <input type="text" id="city" ng-model="srv.curTerritory.city" placeholder="{{'City'|i18n}}" />
                    </div>
                </fieldset>
                <div class="row button-row">
                    <a class="btn" href="#territories" ng-click="srv.saveTerritory()">{{'Save'|i18n}}</a>
                    <span ng-show="curTerritory.id" >
                        <h3>{{'Delete'|i18n}}</h3>
                        <p>{{'txt.warning.delete'|i18n}}</p>
                        <a class="btn" ng-click="[ srv.deleteTerritory(), srv.refreshTerritories() ]" />{{'Delete'|i18n}}</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div id="footer">
        <ul>
            <li><a href="#territories" class="icon location">Territories</a></li>
            <li><a href="#edit-territory" class="active icon add">Add Territory</a></li>
        </ul>
    </div>
</div>
