<div ng-controller="StreetsCntl">
    <div id="wrapper">
        <div id="scroller">
            <ul class="listview">
                <li ng-repeat="street in streets"  ngm-touchable="dialogAction.show([ {text: 'Delete street', callback: 'confirmDeleteStreet({{street}})' }, { text: 'Edit street', callback: 'redirectToEdit({{street}})'} ])">
                    <a href="#notes"  ng-click="[ srv.setCurStreet(street), srv.refreshAddresses($parent.addressFilter)]" ng-init="getAddrCount($index)">
                        <h2>{{street.name}}</h2>
                        <p ng-show="addressInfos[$index].addrCounts.summary > 0" class="span-list">{{addressInfos[$index].addrCounts.summary}} {{'Addresses'|i18n}}<span ng-show="addressInfos[$index].addrCounts.normal > 0">{{addressInfos[$index].addrCounts.normal}} {{'normal'|i18n}}</span>
<span ng-show="addressInfos[$index].addrCounts.nh">{{addressInfos[$index].addrCounts.nh}} {{'nh'|i18n}}</span>
<span ng-show="addressInfos[$index].addrCounts.ra">{{addressInfos[$index].addrCounts.ra}} {{'ra'|i18n}}</span>
<span ng-show="addressInfos[$index].addrCounts.not_interested">{{addressInfos[$index].addrCounts.not_interested}} {{'not_interested'|i18n}}</span>
<span ng-show="addressInfos[$index].addrCounts.return_visit">{{addressInfos[$index].addrCounts.return_visit}} {{'return_visit'|i18n}}</span>
<span ng-show="addressInfos[$index].addrCounts.foreign_language">{{addressInfos[$index].addrCounts.foreign_language}} {{'foreign_language'|i18n}}</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="footer">
        <ul>
            <li><a href="#territories" class="icon location">Territories</a></li>
            <li><a href="#streets" class="icon pin active">Streets</a></li>
            <li><a href="#edit-street" class="icon add" ng-click="srv.resetCurStreet()">Add Street</a></li>
        </ul>
    </div>
    <ngm-dialog-confirm></ngm-dialog-confirm>
    <ngm-dialog-action></ngm-dialog-action>
</div>
