<div ng-controller="VisitsCntl">
    <div id="header">
        <h1>#{{srv.curAddress.housenumber|number}} {{srv.curAddress.info}} {{srv.curAddress.name}} ({{srv.curAddress.gender|i18n}})</h1>
    </div>
    <div id="wrapper">
        <div id="scroller">
            <ul class="listview">
                <li ng-repeat="visit in srv.visits" ngm-touchable="dialogAction.show([ { text: 'Delete Visit', callback: 'confirmDeleteVisit({{visit}})' } ]);">
                    <a href="#edit-visit" ng-click="srv.setCurVisit(visit)">
                        <h2>{{visit.date|date:'short'}}<span ng-hide="visit.type == 'normal'">, {{visit.type|i18n}}</span></h2>
                        <p><span ng-show="visit.note">{{visit.note}}</span></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="footer">
        <ul>
            <li><a href="#notes" class="icon pencil">Notes</a></li>
            <li><a href="#visits" class="icon stack active">Visits</a></li>
            <li><a href="#edit-visit" class="icon add" ng-click="srv.resetCurVisit()">Add Visit</a></li>
        </ul>
    </div>
    <ngm-dialog-confirm></ngm-dialog-confirm>
    <ngm-dialog-action></ngm-dialog-action>
</div>
